@model IEnumerable<LojaOnline.Models.Categoria>

<div class="col-md-3">
    @*cada link passa para o controller o nome da categoria*@
    <ul class="nav nav-pills nav-stacked">
        @foreach (var item in Model)
        {
            <li role="presentation" class="active"><a href="@Url.Action("ListaProdutos","Produtos" , new { name = @item.Nome})">@item.Nome</a></li>
        }
      
    </ul>
</div>
