@model IEnumerable<LojaOnline.Models.Produto>

@foreach (var item in Model)
{
    <div class="col-sm-4 col-lg-4 col-md-4">
        <div class="thumbnail">
            <img src="@Url.Content(item.Imagem)" alt="" />
            <div class="caption">
                <h4 style="text-align:center">@item.Nome</h4>
                <h4 style="text-align:center">
                    @item.Preco€
                </h4>
                <h4></h4>
                <p>
                    <button type="button" class="btn btn-primary btn-sm" style="margin-left:85px" onclick="location.href='@Url.Action("AdicionarProduto", "Compras",new {id = item.ProdutoID } )'">Comprar</button>
                </p>
            </div>
        </div>
    </div>
}

