@model LojaOnline.Models.IndexViewModel
@{
    ViewBag.Title = "Sucesso";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <button type="button" class="btn btn-primary btn-sm" onclick="location.href='@Url.Action("Index", "Home" )'">Voltar</button>
</div>
