@model LojaOnline.Models.Categoria

@{
    ViewBag.Title = "Delete";
}

<h3>Tem a certeza que pretende apagar esta categoria?</h3>
<div>
    <hr />
    <dl class="dl-horizontal" style="margin-left:-114px">
        <dt>
            @Html.DisplayNameFor(model => model.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nome)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" class="btn btn-primary" value="Apagar" /> |
            @Html.ActionLink("Voltar atrás", "Index")
        </div>
    }
</div>
