
<table class="table table-striped table-bordered table-hover text-center">
    <thead>
        <tr>
            <th>Administrador</th>
            <th>Cliente</th>
        </tr>
    </thead>

    <tr>
        <td>
            <p>admin@admin.com</p>
            <p>Password = Admin123#</p>
        </td>

        <td>
            <p>jose@gmail.com</p>
            <p>Password = Jose123#</p>
        </td>
    </tr>
</table>



