@{
    ViewBag.Title = "Home Page";
}


<link href="~/Content/bootstrap.min.css" rel="stylesheet">

<link href="~/Content/Site.css" rel="stylesheet">


<div class="container">
    <div class="row">
        @Html.Action("Menu","Index")
        <div class="col-md-9">
            <div class="row">
            @Html.Action("ProdutosRecentes", "Index")
            </div>
        </div>
    </div>
</div>